@page
@model KoolExplorer.Pages.GovAPI.MOEEnrolmentModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KindergartenList.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KindergartenList.FirstOrDefault().Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KindergartenList.FirstOrDefault().EnrolementRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.KindergartenList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrolementRate)
                </td>
            </tr>
        }
    </tbody>
</table>