@page
@model KoolExplorer.Pages.SearchPageModel
@{
}

<body>
    <div th:replace="commons/bar::#topbar"></div>
    <div class="container-fluid">
        <div class="row">
            <main role="main">
                <h1>Pre-Schools</h1>
                <div class="form-row" style="margin:0">
                    <div class="col-12 col-sm-6 form-group">
                        <label asp-for="Area"></label>
                        <select asp-for="Area" asp-items="@Model.AreaList" class="form-control select-area" data-validation="required">
                        </select>
                        <span asp-validation-for="Area" class="text-danger"></span>

                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <label asp-for="District"></label>
                        <select asp-for="District" asp-items="@Model.DistrictList" class="form-control select-area" required="">
                        </select>
                    </div>
                </div>
                <div class="form-row">
                </div>
                <div class="table-responsive container">
                    <table class="table table- table_list_font table-hover table-condensed " id="PreSchoolList">
                        <thead class="thead-dark">
                            <tr class="row">
                                <th class="col-sm-1">No</th>
                                <th class="col-sm-3">Center Name</th>
                                <th class="col-sm-3">Center Address</th>
                                <th class="col-sm-1">Contact Number</th>
                                <th class="col-sm-2">Website</th>
                                <th class="col-sm-2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.PreSchools != null && Model.PreSchools.Count > 0)
                                {
                                    for (var i = 0; i < Model.PreSchools.Count; i++)
                                    {
                                        string website = @Model.PreSchools[i].Website.Equals("na") ? "-" : @Model.PreSchools[i].Website;
                                        <tr class="row">
                                            <td class="col-sm-1">@(Model.PreSchools[i].Id)</td>
                                            <td class="col-sm-3">@Model.PreSchools[i].Name</td>
                                            <td class="col-sm-3">@Model.PreSchools[i].Address</td>
                                            <td class="col-sm-1">@Model.PreSchools[i].ContactNo</td>
                                            <td class="col-sm-2">@website</td>
                                            <td class="col-sm-2"><button type="button" class="btn btn-dark viewMore" style="float: right;" data-rowId="@(Model.PreSchools[i].Id)"> View More</button></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td>No Data Available</td></tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="max-width: 650px; ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel" style="font-weight: bold;">PreSchool Information</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover" id="preSchoolTable">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Property Name</th>
                                <th scope="col">Property Value</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="background-color: #f26b6b;" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

<style>
    .ow {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }
</style>


@section scripts
{
    <script>
       //jQuery document Ready
       (function () {
           $("#Area").select2();
           $("#District").select2();


           //$('.viewMore').on('click', function (e) {
           //    var id = e.target.dataset["rowid"];
           //    GetData(id);
           //    $('#myModal').modal('show');
           //})

           $("#PreSchoolList tbody").on("click", ".viewMore", function (e) {
               var id = e.target.dataset["rowid"];
               GetData(id);
               $('#myModal').modal('show');
           })

           $("#Area").change(function () {
               $.ajax({
                   type: "POST",
                   url: '/ApplicationForm/Filter?handler=Filter',
                   beforeSend: function (xhr) {
                       xhr.setRequestHeader("XSRF-TOKEN",
                           $('input:hidden[name="__RequestVerificationToken"]').val());
                   },
                   data: JSON.stringify({
                       Target: "District",
                       Value: $("#Area option:selected").text(),
                   }),
                   contentType: "application/json; charset=utf-8",
                   dataType: "json",
                   success: function (response) {
                       $("#District").empty();

                       var s = '<option value="-1">Please Select a District</option>';
                       for (var i = 0; i < response.length; i++) {
                           s += '<option value="' + response[i].value + '">' + response[i].text + '</option>';
                       }
                       $("#District").html(s);
                   },
                   failure: function (response) {
                       alert(response);
                   }
               }).done(function (data) {
                   console.log(data.result);
               })
           });

           $("#District").change(function () {
               var selectedId = $(this).val();
               $.ajax({
                   type: "POST",
                   url: '/Search?handler=FilterPreSchoolList',
                   beforeSend: function (xhr) {
                       xhr.setRequestHeader("XSRF-TOKEN",
                           $('input:hidden[name="__RequestVerificationToken"]').val());
                   },
                   data: selectedId,
                   contentType: "application/json; charset=utf-8",
                   dataType: "json",
                   failure: function (response) {
                       alert(response);
                   }
               }).done(function (data) {
                   resetTable();
                   console.log(data)
                   createPreSchoolRow(data)
               })
           });



       })();

       function resetTable() {
           $('#PreSchoolList tbody').empty();
       }

       function GetData(id) {
           $.ajax({
               type: "POST",
               url: '/Search?handler=GetPreSchoolById',
               beforeSend: function (xhr) {
                   xhr.setRequestHeader("XSRF-TOKEN",
                       $('input:hidden[name="__RequestVerificationToken"]').val());
               },
               data: id,
               contentType: "application/json; charset=utf-8",
               dataType: "json",
               failure: function (response) {
                   alert(response);
               }
           }).done(function (data) {
               if (data != 'nil') {
                   setPreSchool(data);
               }
           })
       }

       function setPreSchool(d) {
           var data = JSON.parse(d);
           data = excludePreSchoolData(data);
           var tbody = "";
           var chkBoxProperty = ['SecondLanguageOffered', 'SparkCertified', 'ProvisionOfTransport', 'GovernmentSubsidy', 'GstRegistration'];

           var counter = 1;
           for (var key of Object.keys(data)) {
               tbody += "<tr>";
               tbody += "<th scope=\"row\">" + counter + " </th>";
               tbody += "<th scope=\"row\">" + key + " </th>";

               if (chkBoxProperty.includes(key)) {
                   var chkBoxValue = data[key] === null ? "no" : data[key].toLowerCase();
                   tbody += "<th scope=\"row\" class=\"ow\"><input type=\"checkbox\" id=\"" + key  + "\" value=\"" + chkBoxValue + "\"></th>";
               }
               else {
                   tbody += "<th scope=\"row\" class=\"ow\">" + data[key] + " </th>";
               }
               tbody += "</tr>";
               counter++;
           }
           $('#preSchoolTable tbody').html(tbody);

           updateChkBoxStatus();
       }

       function excludePreSchoolData(d) {
           delete d.Id;
           delete d.CreatedBy;
           delete d.CreatedTimeStamp;
           delete d.ModifiedBy;
           delete d.ModifiedTimeStamp;
           return d;
       }

       function updateChkBoxStatus() {
           var chkBoxes = $('#preSchoolTable tbody').find(':checkbox');
           for (var i of chkBoxes) {
               if (i.value === 'true') {
                   $("#" + i.id).prop("checked", true);
               }
           }
       }

       function createPreSchoolRow(arr) {
           var tBody = $('#PreSchoolList tbody');
 
           var data;
           var i;
           for (i = 0; i < arr.length; i++) {
               var tr = `<tr class="row">`;
               var tds = `<td class="col-sm-1">${i + 1}</td><td class="col-sm-3">${arr[i].name}</td><td class="col-sm-3">${arr[i].address}</td>
                          <td class="col-sm-1">${arr[i].contactNo}</td><td class="col-sm-2">${arr[i].website}</td>
                          <td class="col-sm-2"><button type="button" class="btn btn-dark viewMore" style="float: right;" data-rowId="${arr[i].id}"> View More</button></td>`;
               console.log(arr[i])
               console.log(tds)
               data += tr + tds + "</tr>";
           }
           tBody.html(data);
       }

    </script>
}