@page
@model KoolExplorer.Pages.ReviewApplication.ReviewApplicationModel
@{
    ViewData["Title"] = "Application Information";

    var General = Model.formViewModel.GeneralInformationViewModel;
    var Parent = Model.formViewModel.ParentsParticularsViewModel;
    var Child = Model.formViewModel.ChildsParticularsViewModel;

    var AreaList = General.AreaList.Where(c => c.Value == General.Area.ToString()).FirstOrDefault();
    var DistrictList = General.DistrictList.Where(c => c.Value == General.District.ToString()).FirstOrDefault();
    var PreSchoolList = General.PreSchoolList.Where(c => c.Value == General.PreSchool.ToString()).FirstOrDefault();
    var ProgrammeList = General.ProgrammeList.Where(c => c.Value == General.Programme.ToString()).FirstOrDefault();
    var Race = Child.RaceList.Where(c => c.Value == Child.Race.ToString()).FirstOrDefault();
    var Citizenship = Child.CitizenshipList.Where(c => c.Value == Child.Citizenship.ToString()).FirstOrDefault();
}

<div class="">
    <h1>@ViewData["Title"] : <span id="status" style="">@Model.formViewModel.ApplicationStatus</span></h1>
</div>

<div class="sectionBorder">
    <h1 class="section-header">General Information</h1>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="Area">Area</label>
            <input type="text" class="form-control" id="" value="@AreaList.Text">
        </div>
        <div class="form-group col-md-4">
            <label for="District">District</label>
            <input type="text" class="form-control" id="" value="@DistrictList.Text">
        </div>
        <div class="form-group col-md-4">
            <label for="preschool">Pre-School</label>
            <input type="text" class="form-control" id="" value="@PreSchoolList.Text">
        </div>
        <div class="form-group col-md-4">
            <label for="Programme">Programme</label>
            <input type="text" class="form-control" id="" value="@ProgrammeList.Text">
        </div>
        <div class="form-group col-md-4">
            <label for="startperiod">Start Period</label>
            <input type="text" class="form-control" id="" value="@General.StartPeriod">
        </div>
    </div>
</div>
<div class="sectionBorder">
    <h1 class="section-header">Parents' Particulars</h1>
    <div class="form-row separator_line">
        <h4>Parent/Guardian 1</h4>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name1">Name</label>
            <input type="text" class="form-control" id="" value="@Parent.Name1">
        </div>
        <div class="form-group col-md-6">
            <label for="passport1">Passport No.</label>
            <input type="text" class="form-control" id="" value="@Parent.PassportNo1">
        </div>
        <div class="form-group col-md-6">
            <label for="mobile1">Mobile No.</label>
            <input type="text" class="form-control" id="" value="@Parent.MobileNo1">
        </div>
        <div class="form-group col-md-6">
            <label for="email1">Email</label>
            <input type="text" class="form-control" id="" value="@Parent.Email1">
        </div>
    </div>
    <div class="form-row separator_line">
        <h4>Parent/Guardian 2</h4>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name2">Name</label>
            <input type="text" class="form-control" id="" value="@Parent.Name2">
        </div>
        <div class="form-group col-md-6">
            <label for="passport2">Passport No.</label>
            <input type="text" class="form-control" id="" value="@Parent.PassportNo2">
        </div>
        <div class="form-group col-md-6">
            <label for="mobile2">Mobile No.</label>
            <input type="text" class="form-control" id="" value="@Parent.MobileNo2">
        </div>
        <div class="form-group col-md-6">
            <label for="email2">Email</label>
            <input type="text" class="form-control" id="" value="@Parent.Email2">
        </div>
    </div>
    <div class="form-row separator_line">
        <h4>Others Information</h4>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="hometel">Home Tel No.</label>
            <input type="text" class="form-control" id="" value="@Parent.HomeTelNo">
        </div>
        <div class="form-group col-md-6">
            <label for="streeName">Street Name</label>
            <input type="text" class="form-control" id="" value="@Parent.StreetName">
        </div>
        <div class="form-group col-md-6">
            <label for="BlockNo">Block No.</label>
            <input type="text" class="form-control" id="" value="@Parent.BlockNo">
        </div>
        <div class="form-group col-md-6">
            <label for="FloorNo">Floor No.</label>
            <input type="text" class="form-control" id="" value="@Parent.FloorNo">
        </div>
        <div class="form-group col-md-6">
            <label for="UnitNo">Unit No.</label>
            <input type="text" class="form-control" id="" value="@Parent.UnitNo">
        </div>
        <div class="form-group col-md-6">
            <label for="BuildingName">Building Name</label>
            <input type="text" class="form-control" id="" value="@Parent.BuildingName">
        </div>
        <div class="form-group col-md-6">
            <label for="PostalCode">Postal Code</label>
            <input type="text" class="form-control" id="" value="@Parent.PostalCode">
        </div>
        <div class="form-group col-md-6">
            <label for="Income">Household Income</label>
            <input type="text" class="form-control" id="" value="@Parent.HouseholdIncome">
        </div>
    </div>
</div>

<div class="sectionBorder">
    <h1 class="section-header">Child's Particulars</h1>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="childName">Name </label>
            <input type="text" class="form-control" id="" value="@Child.Name">
        </div>
        <div class="form-group col-md-4">
            <label for="Citizenship">Citizenship</label>
            <input type="text" class="form-control" id="" value="@Citizenship.Text">
        </div>
        <div class="form-group col-md-4">
            <label for="Race">Race</label>
            <input type="text" class="form-control" id="" value="@Race.Text">
        </div>
        <div class="form-group col-md-4">
            <label for="childBC">Birth Cert Number</label>
            <input type="text" class="form-control" id="" value="@Child.BirthCertNo">
        </div>
        <div class="form-group col-md-4">
            <label for="childDOB">Date of Birth</label>
            <input type="text" class="form-control" id="" value="@Child.DOB">
        </div>
        <div class="form-group col-md-4">
            <label for="childGender">Gender</label>
            <input type="text" class="form-control" id="" value="@Child.Gender">
        </div>
    </div>
</div>



<h2 style="margin-left: 473px;">Approval</h2>
<div class="separator_line"></div>
<div class="form-row">
    @*<form method="post" asp-page="../ReviewApplication/ReviewApplication" asp-page-handler="ReviewApp" style="width: 100%;">
            <input type="hidden" name="id" asp-for="@Model.formViewModel.Id" />
            <div class="form-group col-md-2 offset-5">
                <button type="submit" name="action" class="btn btn btn-success" value="A" id="AcceptBtn">Accept</button>
                <button type="submit" name="action" class="btn btn-danger" value="R" id="RejectBtn">Reject</button>
            </div>
        </form>*@
    @*<form method="post" asp-page="../ReviewApplication/ReviewApplication" asp-page-handler="ReviewApp" style="width: 100%;">*@
    <form method="post" asp-page="../ReviewApplication/ReviewApplication" asp-page-handler="ReviewApp">
        <input type="hidden" name="id" asp-for="@Model.formViewModel.Id" />
        <div class="form-group col-md-2 offset-5">
            <button type="submit" name="action" class="btn btn btn-success" value="A" id="AcceptBtn">Accept</button>
            <button type="submit" name="action" class="btn btn-danger" value="R" id="RejectBtn">Reject</button>
            @*<button type="submit" class="btn btn-outline-success btn-lg btn-block">Register</button>*@
        </div>
    </form>
</div>


@section scripts{
    <script>
        (function () {
            //initForm();
            setHeaderBackground();
            //actionButton();
        })();

        function setHeaderBackground() {
            var status = $('#status').text();

            if (status === 'Rejected') {
                $('#status').css({
                    "background": "red",
                    "color": "white"
                });
            }
            else if (status === 'Approved') {
                $('#status').css({
                    "background": "#209c20",
                    "color": "white"
                });
            }
            else if (status === 'Pending') {
                $('#status').css({
                    "background": "#4242e4",
                    "color": "white"
                });
            }
            //console.log(status)
        }

        function actionButton() {
            var status = $('#status').text();

            //status = 'Pending';
            if (status === 'Rejected') {
                $('#AcceptBtn').attr("disabled", true);
                $('#RejectBtn').attr("disabled", false);
            }
            else if (status === 'Approved') {
                $('#AcceptBtn').attr("disabled", false);
                $('#RejectBtn').attr("disabled", true);
            }
            else if (status === 'Pending') {
                $('#AcceptBtn').attr("disabled", false);
                $('#RejectBtn').attr("disabled", false);
            }
        }

        function initForm() {
            $("body :input").attr("disabled", true);
        }
    </script>
}

<style>
    .sectionBorder {
        border: 2px solid black;
        padding: 25px;
        /*background: url("img/about_us.jpeg");*/
        background-color: #c47d12;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .form-row {
        width: 100%;
    }

    .separator_line {
        border-bottom-style: solid;
        border-bottom-color: #1c87c9;
        border-bottom-width: 5px;
    }

    .form-control:disabled {
        background-color: #ffffff;
    }
</style>
