@page
@model KoolExplorer.Pages.Dashboard.DashboardModel
@{
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Charts, Charts, Charts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>

    <div class="container">
        <div id="mainDiv">
            <div id="bigDiv" class="row placeholders">
                @{
                    if (User.IsInRole("Parent"))
                    {
                        <div>
                            <h1 class="num">@Model.TotalSchools</h1>
                            <div style="width:300px;float:left">
                                <h3>Pre-School Centers</h3>
                            </div>
                        </div>
                        <div id="centerDiv">
                            <h1 class="num">@Model.TotalSubmissions</h1>
                            <h3>Application Submission(s)</h3>
                        </div>
                        <div id="leftDiv">
                            <h1 class="num">@Model.TotalAcceptances</h1>
                            <h3>Application Acceptance(s)</h3>
                        </div>
                    }
                    else if(User.IsInRole("Operator"))
                    {
                        <div>
                            <h1 class="num">@Model.TotalApplications</h1>
                            <div style="width:300px;float:left">
                                <h3>TotalApplications</h3>
                            </div>
                        </div>
                        <div id="centerDiv">
                            <h1 class="num">@Model.TotalAccepted</h1>
                            <h3>TotalAccepted</h3>
                        </div>
                        <div id="leftDiv">
                            <h1 class="num">@Model.TotalPending</h1>
                            <h3>TotalPending</h3>
                        </div>
                    }
                }

            </div>
        </div>
        <div style="padding-bottom:100px"></div>

        <div class="row">
            <div class="chart-container col-md-6 col-sm-6" width="600" height="400">
                <h1 style="text-align:center">Spark Certified Pre School</h1>
                <canvas id="SparkCertifiedChart"></canvas>
            </div>
            <div class="chart-container col-md-6 col-sm-6" width="1000" height="400">
                <h1 style="text-align:center">Services Offered</h1>
                <canvas id="ServiceOfferedChart"></canvas>

            </div>
        </div>
        <div style="padding-bottom:100px"></div>
        <div class="row">
            <div class="chart-container col-12" width="1000" height="400">
                <h1 style="text-align:center">Organisation Type</h1>
                <canvas id="OrganisationChart"></canvas>

            </div>
        </div>
        <div style="padding-bottom:100px"></div>
    </div>

</body>
</html>


@*<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var labels = ['Spark-Certified', 'Non Spark-Certified']
        var data = [@Model.sparkCertifiedRatio["Yes"], @Model.sparkCertifiedRatio["No"]]
        var hexColor = [
            'rgba(59, 242, 173, 0.8)',
            'rgba(231, 58, 92, 0.8)',
        ]
        var ctx = document.getElementById('SparkCertifiedChart').getContext('2d');

        var SparkCertifiedChart = new Chart(ctx, {
                type: 'pie',
                responsive: true,
                 data : {
                    datasets: [{
                        data: data,
                        backgroundColor: hexColor,
                    }],

                    // These labels appear in the legend and in the tooltips when hovering different arcs
                     labels: labels,
                    weight:20
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: "white",
                            fontSize: 18
                        }
                    }
                }
        })


        var label2 = []
        var data2 = []
        var hexColor2 = [
            'rgba(255, 99, 132, 0.65)',
            'rgba(255, 159, 64, 0.65)',
            'rgba(255, 205, 86, 0.65)',
            'rgba(75, 192, 192, 0.65)',
            'rgba(54, 162, 235, 0.65)',
            'rgba(153, 102, 255, 0.65)',
        ]
        var ctx2 = document.getElementById('OrganisationChart').getContext('2d');

        var collection = @Html.Raw(Model.organisationRatio)
            $.each(collection, function (key, value) {
            label2.push(key)
            data2.push(value)
        });


        var OrganisationChart = new Chart(ctx2, {
            type: 'horizontalBar',
            responsive: true,
            data: {
                datasets: [{
                    backgroundColor: hexColor2,
                    data: data2,
                    label: "",
                    borderColor: 'rgba(255, 255, 255 , 1)',
                    borderWidth: 3
                    
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: label2,
            },

            options: {
                scales: {
                    xAxes: [{
                        stacked: true,
                        ticks: {
                            fontColor: "white",
                            fontSize: 18
                        },
                        gridLines: {
                            drawOnChartArea: true,
                            lineWidth: 3,
                            color: "rgba(0, 0, 0, 0.6)"
                        },
                    }],
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            fontColor: "white",
                            fontSize: 18
                        },
                        gridLines: {
                            drawOnChartArea: true,
                            lineWidth: 3,
                            color: "rgba(0, 0, 0, 0.6)"
                        },
                    }]
                },
                legend: {
                    display: false
                },
                tooltips: {
                    enabled: false
                }
            }
        })

        var label3 = []
        var data3 = []
        var hexColor3 = [
            'rgba(255, 99, 132, 0.8)',
            'rgba(255, 159, 64, 0.8)',
            'rgba(255, 205, 86, 0.8)',
            'rgba(75, 192, 192, 0.8)',
            'rgba(54, 162, 235, 0.8)',
            'rgba(153, 102, 255, 0.8)',
            'rgba(210, 58, 231, 0.8)',
            'rgba(219, 231, 24, 0.8)',
            'rgba(52, 138, 10, 0.8)',
        ]
        var ctx3 = document.getElementById('ServiceOfferedChart').getContext('2d');

        var collection = @Html.Raw(Model.serviceOfferedRatio)
            $.each(collection, function (key, value) {
            label3.push(key)
            data3.push(value)
        });


        var ServiceOfferedChart = new Chart(ctx3, {
            type: 'pie',
            responsive: true,
            data: {
                datasets: [{
                    backgroundColor: hexColor3,
                    data: data3,
                    label: ""
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: label3,
            },

            options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                    labels: {
                        fontColor: "white",
                        fontSize: 18
                    }
                }
            }
        })

    });
</script>*@
