@page
@model KoolExplorer.Pages.AcceptOffer.ViewAllModel
@{
    ViewData["Title"] = "Offer Acceptance";
}

<h1>@ViewData["Title"]</h1>

<p>Belows are the list of center accepted your child</p>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.admissionViewModel.FirstOrDefault().GeneralInformationViewModel.PreSchool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.admissionViewModel.FirstOrDefault().GeneralInformationViewModel.Programme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.admissionViewModel.FirstOrDefault().GeneralInformationViewModel.StartPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.admissionViewModel.FirstOrDefault().ParentsParticularsViewModel.Name1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.admissionViewModel.FirstOrDefault().ChildsParticularsViewModel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.admissionViewModel.FirstOrDefault().ApplicationStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.admissionViewModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => Model.PreSchoolList.Where(p => p.Value == item.GeneralInformationViewModel.PreSchool.ToString()).FirstOrDefault().Text)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.ProgrammeList.Where(p => p.Value == item.GeneralInformationViewModel.Programme.ToString()).FirstOrDefault().Text)
                </td>
                <td>
                    @Html.DisplayFor(model => item.GeneralInformationViewModel.StartPeriod)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ParentsParticularsViewModel.Name1)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ChildsParticularsViewModel.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ApplicationStatus)
                </td>
                <td align="center">
                    @if (item.ApplicationStatus == Core.Expansion.Enum.ApplicationStatus.Pending)
                    {
                        <form method="post" asp-page="../ApplicationForm/Edit" asp-route-id="@item.Id" asp-page-handler="Edit" style="padding-bottom:10px">
                            <button type="submit" style="width:auto"
                                    class="nav-link btn py-0 btn-dark">
                                Edit
                            </button>
                        </form>
                    }

                    @if (item.ApplicationStatus == Core.Expansion.Enum.ApplicationStatus.Approved)
                    {
                        <form method="post" asp-page="../ApplicationForm/Edit" asp-route-id="@item.Id" asp-page-handler="AcceptOffer" style="padding-bottom:10px">
                            <button type="submit" style="width:auto"
                                    class="nav-link btn py-0 btn-dark">
                                Accept
                            </button>
                        </form>
                        <form method="post" asp-page="../ApplicationForm/Edit" asp-route-id="@item.Id" asp-page-handler="RejectOffer" style="padding-bottom:10px">
                            <button type="submit" style="width:auto"
                                    class="nav-link btn py-0 btn-dark">
                                Reject
                            </button>
                        </form>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>